In [13]:
"""1.Write a python program to display all the header tags from wikipedia.org.
"""
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [7]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [8]:
soup=BeautifulSoup(page.content)

In [9]:
from urllib.request import urlopen

html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
heading = bs.find_all(['h1', 'h2','h3','h4','h5','h6']) 
print('List all the header tags :', *heading, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3>
<label for="searchInput">Search</label>
</h3>

In [14]:
"""
2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
"""

# Downloading imdb movies's data 

url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]
  
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
     
    # Separating movie into: 'Name',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = { "movie_Name": movie_title,
            "rating": ratings[index],
            "year": year,
            }
    list.append(data)
 
list
df = pd.DataFrame(list)
df=df.head(100) 
df

                           movie_Name             rating  year
0            The Shawshank Redemption  9.233810743491823  1994
1                       The Godfather  9.155764938056866  1972
2                     The Dark Knight  8.985045459496254  2008
3              The Godfather: Part II  8.983847179430256  1974
4                        12 Angry Men   8.94728051844463  1957
..                                ...                ...   ...
95                 Lawrence of Arabia  8.256673075898174  1962
96                             Jagten  8.255023353128404  2012
97  M - Eine Stadt sucht einen Mörder   8.25469835424237  1931
98                 North by Northwest  8.254118320349573  1959
99                            Vertigo  8.248225734012632  1958

[100 rows x 3 columns]

In [15]:
"""3.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.
from bs4 import BeautifulSoup
import requests
import pandas as pd
"""

# Downloading imdb movies's data 

url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]
  
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
     
    # Separating movie into: 'Name',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = { "movie_Name": movie_title,
            "rating": ratings[index],
            "year": year,
            }
    list.append(data)
 

list
df = pd.DataFrame(list)
df=df.head(100) 
df

                      movie_Name             rating  year
0                       Jai Bhim  8.400973638688415  2021
1                     Anbe Sivam   8.39312786791382  2003
2                        Golmaal   8.39064754039644  1979
3                        Nayakan   8.38268522503125  1987
4              Pariyerum Perumal  8.370258808730323  2018
..                           ...                ...   ...
95                        Masaan  8.009142602144752  2015
96                Dil Chahta Hai  8.006228472849582  2001
97                       Kahaani     8.005849395613  2012
98       Maheshinte Prathikaaram  8.005611480732998  2016
99   Baahubali 2: The Conclusion  8.003893557735458  2017

[100 rows x 3 columns]

In [172]:
"""4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) """


from urllib.request import urlopen

html = urlopen('https://presidentofindia.nic.in/former-presidents.htm')
bs = BeautifulSoup(html, "html.parser")
heading = bs.find_all(['h3']) 
#print('List all the header tags :', *heading, sep='\n\n')


heading1=[] # Emty list to store the title
for i in heading:
    heading1.append(i.text.replace("<h3>",''))# More than one then find all
heading1


terms=[] # Emty list to store the title
for i in soup.find_all('div',class_='presidentListing'):
    terms.append(i.find_all("p")[0].text.split(":")[1])
terms

df=pd.DataFrame({'Former presidents':heading1,'Terms of service':terms})
df

,Former presidents,Terms of service
0,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [27]:
"""
5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.
https://www.icc-cricket.com/rankings/mens/team-rankings/odi
"""

page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

page

soup=BeautifulSoup(page.content)

team=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell rankings-table__team"):
  team.append(i.text.split()[0])# More than one then find all
  
    
team.insert(0,'Newzeland')
team[7]='Sri Lanka'
team[8]='West Indis'

matches=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
  matches.append(i.text.split()[0])# More than one then find all
  
match=matches[::2] # Splitting the 2 column by one
match.insert(0,'12') # Insertion of one top 1 reord 


points=matches[-1::-2]#Creating another column on the other hand 
points.reverse() #to help to sort out order respectively in a descending order
points.insert(0,'1505')


ratings=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
  ratings.append(i.text)# More than one then find all

ratings.insert(0,'125')

#print(len(team),len(match),len(points),len(ratings))

print("Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.")
df=pd.DataFrame({'Teams':team,'Matches':match,'Points':points,'Ratings':ratings})
df.head(10)

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

         Teams Matches Points Ratings
0    Newzeland      12   1505     125
1      England      19  2,353     124
2    Australia      18  1,929     107
3        India      22  2,304     105
4     Pakistan      16  1,635     102
5        South      19  1,872      99
6   Bangladesh      24  2,275      95
7    Sri Lanka      24  2,086      87
8   West Indis      26  1,885      73
9  Afghanistan      15    986      66

In [28]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

page

soup=BeautifulSoup(page.content)

  

player=[] # Emty list to store the title
for i in soup.find_all('td',class_='table-body__cell name'):
  player.append(i.text.replace('\n',''))# More than one then find all
player.insert(0,'Babar Azam')

team=[] # Emty list to store the title
for i in soup.find_all('span',class_="table-body__logo-text"):
  team.append(i.text.replace('\n',''))# More than one then find all

team.insert(0,'PAK')

rating=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
  rating.append(i.text.replace('\n',''))# More than one then find all
rating.insert(0,'891')
print("Top 10 ODI Batsmen along with the records of their team and rating.")
df=pd.DataFrame({'Player':player,'Team':team,'Ratings':rating})
df.head(10)

Top 10 ODI Batsmen along with the records of their team and rating.

                  Player Team Ratings
0             Babar Azam  PAK     891
1            Virat Kohli  IND     811
2            Imam-ul-Haq  PAK     795
3           Rohit Sharma  IND     791
4        Quinton de Kock   SA     789
5         Jonny Bairstow  ENG     775
6            Ross Taylor   NZ     775
7  Rassie van der Dussen   SA     769
8           David Warner  AUS     750
9            Aaron Finch  AUS     745

In [30]:
player1=[] # Emty list to store the title
for i in soup.find_all('td',class_='table-body__cell name'):
  player1.append(i.text.replace('\n',''))# More than one then find all

player1.insert(9,'Trent Boult')
player1=player1[9:19]

team1=[] # Emty list to store the title
for i in soup.find_all('span',class_="table-body__logo-text"):
  team1.append(i.text.replace('\n',''))# More than one then find all

team1.insert(9,'NZ')
team1=team1[9:19]

rating1=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
  rating1.append(i.text.replace('\n',''))# More than one then find all

rating1.insert(9,'726')
rating1=rating1[9:19]

#print(len(player1),len(team1),len(rating1))

print("Top 10 ODI bowlers along with the records of their team and rating")
df=pd.DataFrame({'Player':player1,'Team':team1,'Ratings':rating1})
df.head(10)

Top 10 ODI bowlers along with the records of their team and rating

             Player Team Ratings
0       Trent Boult   NZ     726
1      Chris Woakes  ENG     700
2    Josh Hazlewood  AUS     698
3        Matt Henry   NZ     683
4  Mujeeb Ur Rahman  AFG     681
5    Jasprit Bumrah  IND     679
6    Shaheen Afridi  PAK     671
7      Mehedi Hasan  BAN     661
8   Shakib Al Hasan  BAN     657
9       Rashid Khan  AFG     650

In [31]:
""" 6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating."""

page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

page

soup=BeautifulSoup(page.content)


team=[] # Emty list to store the title
for i in soup.find_all('span',class_="u-hide-phablet"):
  team.append(i.text)# More than one then find all
del team[11:16]
    


matches=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
  matches.append(i.text.split()[0])# More than one then find all
matches  
match=matches[::2]
match.insert(0,'29')


ratings=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
  ratings.append(i.text)# More than one then find all

ratings.insert(0,'167')

points=matches[-1::-2]
points.reverse()
points.insert(0,'4840')


#print(len(team),len(match),len(points),len(ratings))

print("a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.")
df=pd.DataFrame({'Teams':team,'Matches':match,'Points':points,'Ratings':ratings})
df.head(10)

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

          Teams Matches Points Ratings
0     Australia      29   4840     167
1  South Africa      28  3,504     125
2       England      30  3,533     118
3         India      29  2,878      99
4   New Zealand      31  3,030      98
5   West Indies      28  2,481      89
6    Bangladesh      12    936      78
7      Pakistan      26  1,752      67
8       Ireland       5    240      48
9     Sri Lanka       5    233      47

In [57]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

page

soup=BeautifulSoup(page.content)

player=[] # Emty list to store the title

for i in soup.find_all('td',class_='table-body__cell name'):
  player.append(i.text.replace('\n',''))# More than one then find all
player.insert(0,'Alyssa Healy')

team=[] # Emty list to store the title
for i in soup.find_all('span',class_="table-body__logo-text"):
  team.append(i.text.replace('\n',''))# More than one then find all

team.insert(0,'AUS')

rating=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
  rating.append(i.text.replace('\n',''))# More than one then find all
rating.insert(0,'785')

#print(len(player),len(team),len(ratings))
print("Top 10 women’s ODI Batting players along with the records of their team and rating.")
df=pd.DataFrame({'Player':player,'Team':team,'Ratings':rating})
df.head(10)

Top 10 women’s ODI Batting players along with the records of their team and rating.

              Player Team Ratings
0       Alyssa Healy  AUS     785
1     Natalie Sciver  ENG     750
2        Beth Mooney  AUS     748
3    Laura Wolvaardt   SA     722
4        Meg Lanning  AUS     710
5     Rachael Haynes  AUS     701
6        Mithali Raj  IND     686
7  Amy Satterthwaite   NZ     681
8    Smriti Mandhana  IND     669
9     Tammy Beaumont  ENG     659

In [90]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

page

soup=BeautifulSoup(page.content)


player=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell name"):
  player.append(i.text.replace("\n",''))# More than one then find all

   
player=player[18:28]
player.insert(0,'Natalie Sciver')



team=[] # Emty list to store the title
for i in soup.find_all('span',class_="table-body__logo-text"):
  team.append(i.text.replace("\n",''))# More than one then find all

team=team[18:28]
team.insert(0,'ENG')

rating=[] # Emty list to store the title
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
  rating.append(i.text.replace("\n",''))# More than one then find all

rating=rating[18:28]
rating.insert(0,'393')
rating

print('Top 10 women’s ODI all-rounder along with the records of their team and rating')
df=pd.DataFrame({'Player':player,'Team':team,'Rating':rating})
df

Top 10 women’s ODI all-rounder along with the records of their team and rating

             Player Team Rating
0    Natalie Sciver  ENG    393
1      Ellyse Perry  AUS    374
2    Marizanne Kapp   SA    359
3   Hayley Matthews   WI    338
4       Amelia Kerr   NZ    335
5  Ashleigh Gardner  AUS    269
6     Deepti Sharma  IND    249
7     Jess Jonassen  AUS    245
8   Katherine Brunt  ENG    221
9    Jhulan Goswami  IND    217

In [142]:
""" 7.Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link"""

# i)Headline 

page=requests.get('https://www.cnbc.com/world/?region=world')

soup=BeautifulSoup(page.content)

headline=[] # Emty list to store the title
for i in soup.find_all('div',class_="RiverHeadline-headline RiverHeadline-hasThumbnail"):
  headline.append(i.text)# More than one then find all

time=[] # Emty list to store the title
for i in soup.find_all('time',class_="LatestNews-timestamp"):
  time.append(i.text)# More than one then find all
  

df=pd.DataFrame({'Headlines':headline })
  
df

                                            Headlines
0   Top crypto firms go on the hunt for acquisitio...
1   Investment banks pick their top stocks to buy ...
2   Indian and Chinese stock markets could grow fo...
3   The luna cryptocurrency has been resurrected a...
4   South Korea is betting on the metaverse — and ...
5   With inflation near 40-year highs, one fund ma...
6   Unilever adds billionaire activist investor Ne...
7   UK launches new visa for world's top graduates...
8   Families will skip meals to deal with the cost...
9   Asia-Pacific stocks mixed; data shows China's ...
10  'Buy this dip': Wall Street banks name global ...
11                   What's next for the 'Metaverse'?
12  Chelsea takeover: Todd Boehly completes £4.25b...
13  Dutch DSM and Swiss Firmenich join forces in c...
14  There's a 'massive gap' between housing demand...
15  Man in wig throws cake at glass protecting Mon...
16  Global recession? Not yet, economists say — bu...
17  China's factory activity falls at slower pace ...
18  Death toll from Brazil floods at least 91, wit...
19  Thousands of people are leaving Hong Kong — an...

In [143]:
#2.Time
time=[] # Emty list to store the title
for i in soup.find_all('div',class_="RiverHeadline-headline RiverHeadline-hasThumbnail"):
  time.append(i.text)# More than one then find all

  

df=pd.DataFrame({'Time':time })
  
df

                                                 Time
0   Top crypto firms go on the hunt for acquisitio...
1   Investment banks pick their top stocks to buy ...
2   Indian and Chinese stock markets could grow fo...
3   The luna cryptocurrency has been resurrected a...
4   South Korea is betting on the metaverse — and ...
5   With inflation near 40-year highs, one fund ma...
6   Unilever adds billionaire activist investor Ne...
7   UK launches new visa for world's top graduates...
8   Families will skip meals to deal with the cost...
9   Asia-Pacific stocks mixed; data shows China's ...
10  'Buy this dip': Wall Street banks name global ...
11                   What's next for the 'Metaverse'?
12  Chelsea takeover: Todd Boehly completes £4.25b...
13  Dutch DSM and Swiss Firmenich join forces in c...
14  There's a 'massive gap' between housing demand...
15  Man in wig throws cake at glass protecting Mon...
16  Global recession? Not yet, economists say — bu...
17  China's factory activity falls at slower pace ...
18  Death toll from Brazil floods at least 91, wit...
19  Thousands of people are leaving Hong Kong — an...

In [64]:
# 2.News Link


newslink=[] # Emty list to store the title
for i in soup.find_all('div',class_="RiverHeadline-headline RiverHeadline-hasThumbnail"):
  newslink.append(i.text)# More than one then find all

  

df=pd.DataFrame({'Newsl':headline })
  
df

                                                Newsl
0   French journalist killed in Ukraine; Turkish p...
1   'Buy this dip': Wall Street banks name global ...
2   UK launches new visa for world's top graduates...
3   Egypt set for world's sixth largest high-speed...
4   German inflation at highest level in nearly ha...
5   Goldman names its top tech giants to weather v...
6   Chelsea takeover: Todd Boehly completes £4.25b...
7   Thousands of people are leaving Hong Kong — an...
8   Paramount's 'Top Gun: Maverick' grosses $124 m...
9   Alibaba, Tencent and JD.com all just posted th...
10  Top recruitment and tech execs give their tips...
11  How to protect yourself against monkeypox and ...
12                   What's next for the 'Metaverse'?
13  Global recession? Not yet, economists say — bu...
14  Beijing, Shanghai start to reopen as Covid cas...
15  South Korea is betting on the metaverse — and ...
16  There's a 'massive gap' between housing demand...
17  Some investors got rich before a popular stabl...
18  Stocks could build on gains in the week ahead ...
19  Netflix's fall from grace has media investors ...

In [140]:
""" 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper Link"""

#i) Paper Title
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

soup=BeautifulSoup(page.content)

papertitle=[] # Emty list to store the title
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
  papertitle.append(i.text)# More than one then find all

  

df=pd.DataFrame({'Paper Title':papertitle})
  
df

                                          Paper Title
0                                    Reward is enough
1                           Making sense of raw input
2   Law and logic: A review from an argumentation ...
3              Creativity and artificial intelligence
4   Artificial cognition for social human–robot in...
5   Explanation in artificial intelligence: Insigh...
6                       Making sense of sensory input
7   Conflict-based search for optimal multi-agent ...
8   Between MDPs and semi-MDPs: A framework for te...
9   The Hanabi challenge: A new frontier for AI re...
10  Evaluating XAI: A comparison of rule-based and...
11           Argumentation in artificial intelligence
12  Algorithms for computing strategies in two-pla...
13      Multiple object tracking: A literature review
14  Selection of relevant features and examples in...
15  A survey of inverse reinforcement learning: Ch...
16  Explaining individual predictions when feature...
17  A review of possible effects of cognitive bias...
18  Integrating social power into the decision-mak...
19  “That's (not) the output I expected!” On the r...
20  Explaining black-box classifiers using post-ho...
21  Algorithm runtime prediction: Methods & evalua...
22              Wrappers for feature subset selection
23  Commonsense visual sensemaking for autonomous ...
24         Quantum computation, quantum theory and AI

In [141]:
#Authors
author=[] # Emty list to store the title
for i in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
  author.append(i.text)# More than one then find all

  

df=pd.DataFrame({'Authors':author})
  
df

                                              Authors
0   Silver, David, Singh, Satinder, Precup, Doina,...
1           Evans, Richard, Bošnjak, Matko and 5 more
2                   Prakken, Henry, Sartor, Giovanni
3                                 Boden, Margaret A.
4     Lemaignan, Séverin, Warnier, Mathieu and 3 more
5                                        Miller, Tim
6   Evans, Richard, Hernández-Orallo, José and 3 more
7   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...
8   Sutton, Richard S., Precup, Doina, Singh, Sati...
9         Bard, Nolan, Foerster, Jakob N. and 13 more
10  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...
11               Bench-Capon, T.J.M., Dunne, Paul E.
12       Bošanský, Branislav, Lisý, Viliam and 3 more
13             Luo, Wenhan, Xing, Junliang and 4 more
14                      Blum, Avrim L., Langley, Pat
15                   Arora, Saurabh, Doshi, Prashant
16      Aas, Kjersti, Jullum, Martin, Løland, Anders
17  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...
18    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.
19                      Riveiro, Maria, Thill, Serge
20  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...
21  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...
22                      Kohavi, Ron, John, George H.
23  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...
24                                   Ying, Mingsheng

In [16]:
#iii) Published Date

date=[] # Emty list to store the title
for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
  date.append(i.text)# More than one then find all

  

df=pd.DataFrame({'Published Date':date})
  
df

    Published Date
0     October 2021
1     October 2021
2     October 2015
3      August 1998
4        June 2017
5    February 2019
6       April 2021
7    February 2015
8      August 1999
9       March 2020
10   February 2021
11    October 2007
12     August 2016
13      April 2021
14   December 1997
15     August 2021
16  September 2021
17       June 2021
18   December 2016
19  September 2021
20        May 2021
21    January 2014
22   December 1997
23    October 2021
24   February 2010

In [18]:
#iv) Paper link
paperlink=[] # Emty list to store the title
for i in soup.find_all('li',class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp"):
  paperlink.append(i.text)# More than one then find all

  

df=pd.DataFrame({'Paper Link':paperlink})
  
df

                                           Paper Link
0   Reward is enoughSilver, David, Singh, Satinder...
1   Making sense of raw inputEvans, Richard, Bošnj...
2   Law and logic: A review from an argumentation ...
3   Creativity and artificial intelligenceBoden, M...
4   Artificial cognition for social human–robot in...
5   Explanation in artificial intelligence: Insigh...
6   Making sense of sensory inputEvans, Richard, H...
7   Conflict-based search for optimal multi-agent ...
8   Between MDPs and semi-MDPs: A framework for te...
9   The Hanabi challenge: A new frontier for AI re...
10  Evaluating XAI: A comparison of rule-based and...
11  Argumentation in artificial intelligenceBench-...
12  Algorithms for computing strategies in two-pla...
13  Multiple object tracking: A literature reviewL...
14  Selection of relevant features and examples in...
15  A survey of inverse reinforcement learning: Ch...
16  Explaining individual predictions when feature...
17  A review of possible effects of cognitive bias...
18  Integrating social power into the decision-mak...
19  “That's (not) the output I expected!” On the r...
20  Explaining black-box classifiers using post-ho...
21  Algorithm runtime prediction: Methods & evalua...
22  Wrappers for feature subset selectionKohavi, R...
23  Commonsense visual sensemaking for autonomous ...
24  Quantum computation, quantum theory and AIYing...

In [155]:
"""9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL """


#i) Restaurant name
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

soup=BeautifulSoup(page.content)

name=[] # Emty list to store the title
for i in soup.find_all('div',class_="restnt-info cursor"):
  name.append(i.text.split(',')[0])# More than one then find all

 
df=pd.DataFrame({'Restaurant name':name})
df

                                      Restaurant name
0                      Castle BarbequeConnaught Place
1                             Jungle Jamboree3CS Mall
2                         Castle BarbequePacific Mall
3       Cafe KnoshThe Leela Ambience Convention Hotel
4                The Barbeque CompanyGardens Galleria
5                        India GrillHilton Garden Inn
6                Delhi BarbequeTaurus Sarovar Portico
7   The Monarch - Bar Be Que VillageIndirapuram Ha...
8               World CafeVibe by The Lalit Traveller
9             Indian Grill RoomSuncity Business Tower
10                           Mad 4 Bar B QueSector 29
11                                     Barbeque 29NIT
12  GlasshouseDoubleTree By Hilton Gurugram Baani ...

In [157]:
#ii) Cuisine

page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

soup=BeautifulSoup(page.content)

Cuisine=[] # Emty list to store the title
for i in soup.find_all('ul',class_="options"):
  Cuisine.append(i.text)# More than one then find all

Cuisine
 
df=pd.DataFrame({'Cuisine':Cuisine})
df

                                             Cuisine
0
1                Dineout Pay Pure Veg 5 Star Buffet
2                    North IndianItalianChineseAsian
3      Buffet Casual Dining Best Buffet BBQ Special
4  Air Conditioned Cards Accepted Parking Wallet ...

In [151]:
#Location
location=[] # Emty list to store the title
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
  location.append(i.text)# More than one then find all

location
df=pd.DataFrame({'Location':location})
df

                                             Location
0                      Connaught Place, Central Delhi
1              3CS Mall,Lajpat Nagar - 3, South Delhi
2              Pacific Mall,Tagore Garden, West Delhi
3   The Leela Ambience Convention Hotel,Shahdara, ...
4                  Gardens Galleria,Sector 38A, Noida
5                Hilton Garden Inn,Saket, South Delhi
6      Taurus Sarovar Portico,Mahipalpur, South Delhi
7   Indirapuram Habitat Centre,Indirapuram, Ghaziabad
8    Vibe by The Lalit Traveller,Sector 35, Faridabad
9    Suncity Business Tower,Golf Course Road, Gurgaon
10                               Sector 29, Faridabad
11                                     NIT, Faridabad
12  DoubleTree By Hilton Gurugram Baani Square,Sec...

In [134]:
#Ratings restnt-rating rating-4 hide

rating=[] # Emty list to store the title
for i in soup.find_all('div',class_="restnt-rating rating-4"):
  rating.append(i.text)# More than one then find all


df=pd.DataFrame({'Rating':rating})
df

   Rating
0     3.5
1     3.9
2     3.9
3     4.3
4       4
5     3.9
6     3.7
7     3.8
8     4.2
9     4.3
10    3.6
11    4.2
12      4

In [136]:
image=[] # Emty list to store the title
for i in soup.find_all('img',class_='no-img'): # More than one then find all
    image.append(i['data-src'])
    
df=pd.DataFrame({'Image':image})
df

                                                Image
0   https://im1.dineout.co.in/images/uploads/resta...
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...

In [139]:
""" 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
 iv) h5-median"""


page=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

soup=BeautifulSoup(page.content)

rank=[] # Emty list to store the title
for i in soup.find_all('td',class_="gsc_mvt_p"):
  rank.append(i.text)# More than one then find all


publication=[] # Emty list to store the title
for i in soup.find_all('td',class_="gsc_mvt_t"):
  publication.append(i.text)# More than one then find all

  
h1=[] # Emty list to store the title
for i in soup.find_all('td',class_="gsc_mvt_n"):
  h1.append(i.text)# More than one then find all
h5=h1[::2]
  
h6=h1[-1::-2]
h6.reverse()


df=pd.DataFrame({'Rank':rank,'Publication':publication,'h5-index':h5,'h5-median':h6})
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      414       607
1     2.                The New England Journal of Medicine      410       704
2     3.                                            Science      391       564
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      356       583
4     5.                                         The Lancet      345       600
..   ...                                                ...      ...       ...
95   96.                            Frontiers in Immunology      134       177
96   97.                                              Small      134       173
97   98.                                  Nature Immunology      133       210
98   99.                                      JAMA Oncology      133       202
99  100.                               The Lancet Neurology      133       200

[100 rows x 4 columns]