In [2]:
pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [77]:
#Lets connect with web driver
#driver=webdriver.Chrome(r"C:\Web driver\chromedriver.exe")

In [547]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [549]:
#Opening the naukri.com website
driver.get("https://www.naukri.com/")

In [ ]:
# Send the key to "Data Analyst"
search_field_destination=driver.find_element_by_class_name('suggestor-input')#Job search bar
search_field_destination.send_keys('Data Analyst')

In [197]:
search_field_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')# Absolute path
#purpose of using abosulte path is it has 2 column field so we choose absolute path to find the location
search_field_loc.send_keys('Bangalore')

In [198]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')# Absolute path
search_button.click()

In [117]:
job_title_list=[]
company_name_list=[]
location_list=[]
experience_list=[]

In [118]:
#To extract the all the job titles having
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]') #Relaticve path
title_tag[0:10]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="63c7d34d-3ab5-4ac3-8113-0579887d12b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="c4cdee93-03a9-4c33-88c8-96366042e32b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="7504a437-1fa6-449b-8a54-bd6f6e4b4d79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="61583c53-7db9-4585-bbde-1381ef0b6611")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="cc9c535d-9fe8-403b-b1a6-7e3f370fe192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="f931ddd2-8b18-4173-94b3-cafd03b2a514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="3dac966b-8e76-4604-ab75-fcf2faea455b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="9fa07053-e7de-4210-a94d-d18fdfa2e10e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="11362f45-4075-4740-b4c1-aff39e1bde7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="0e25dc94-02c9-4f80-9cd2-dcad49589c51")>]

In [129]:

#Loop to iterate the tag extract from the abovr code
for i in title_tag:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    job_title_list.append(title) #appending to the extracted test list to job title list
job_title=job_title_list[0:10]   #print the top 10 data
job_title

['Data Analyst /Senior Data Analyst/Lead Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analyst ll - Data Science',
 'IT Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Management Analyst',
 'Data Analyst',
 'Data Analyst - Marketing']

In [124]:
#To extract the location
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]') #Relaticve path
loc[0:9]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="e49773e7-d47d-46b9-b3c9-21c53fb79f9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="dfb85430-1caf-49c9-aa82-cbd30b04448d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="2d57e502-f175-4689-8ba6-a304ba0558b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="fe77117d-146e-4dde-9690-ba1d161ce513")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="9bd9f4cb-c4bb-4a12-86a7-be14022052a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="6fe56ac7-d390-4449-adc5-bb1d8c905646")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="002fb5c2-1725-47ef-b446-92e5265b00ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="e017452d-8c78-4ee7-b895-3addc0cf56ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a71b04efbfc60776d141a83d9fa5881e", element="5bdcd329-547e-4d36-ba85-e63044417dbf")>]

In [131]:
for i in loc:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    location_list.append(title) #appending to the extracted test list to job title list
location=location_list[0:10]   #print the top 10 data
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Serilingampally, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Jayanagar)',
 'Bangalore/Bengaluru']

In [199]:
#To extract the company name
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]') #Relaticve path
company_name[0:10]# To give the range to extract the 9 results

[<selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="b694adc7-cf14-4f99-9e7b-7ef25463de67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="d7acb5eb-e0a7-4316-a92d-92b38fc42bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="f27f848d-1d7f-42be-8e4f-f38beb5d34e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="1c468994-dc07-48de-b7c0-c675e52b7c2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="fcca901a-affd-4481-9ddc-4330b4cedd6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="7d4cb979-9931-4bd7-885e-ecc1fc93e97d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="e2a41b38-19a8-4296-a787-8406fe96738a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="821be01e-71ba-4a87-8fc4-5082f2df6aa7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="dcf3a6bf-1e5d-4fbe-bcf7-e91de239edc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="f78881c7-e1ce-43da-af25-ee34fb8746e7")>]

In [200]:

#Loop to iterate the tag extract from the abovr code
for i in company_name:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    company_name_list.append(title.replace("Reviews",'')) #appending to the extracted test list to job title list
company=company_name_list[0:10]   #print the top 10 data
company

['Wipro',
 'Ashkom Media India Private Limited',
 'UPL',
 'Jacobs',
 'Wipro',
 'SAP',
 'SAP',
 'Accenture',
 'Accenture',
 'IBM']

In [201]:
#To extract the experience
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]') #Relaticve path
exp[0:10]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="adb9a595-e540-4833-90d3-fce3a0dbe25c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="e29c907f-67a2-403d-ad31-64ca6d00617d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="0ab2256e-fc7d-42d2-bb8c-a96aedb2dcf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="9f63232f-6d29-4d7f-b100-df7a4c041ad6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="9bab4979-08d4-4800-8d2d-d3bedb8963fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="3fb2e035-0d64-49c8-b3f6-460a765ac73c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="6cf58a7e-3447-41d4-996f-0937b60ae9a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="fb89aed4-9af3-4ff6-83da-cec0b6da865c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="6a30a956-9556-435b-a950-f1a3d19cf350")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5df7837ae2509aaaec1a63672f14c61b", element="8ede0681-6382-4e05-9ee9-fbc5bba11b9c")>]

In [202]:

for i in exp:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    experience_list.append(title) #appending to the extracted test list to job title list
experience=experience_list[0:10]   #print the top 10 data

experience

['6-11 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '12-16 Yrs',
 '5-10 Yrs',
 '7-11 Yrs',
 '5-10 Yrs',
 '3-7 Yrs']

In [203]:
print(len(job_title),len(company),len(location),len(experience))

10 10 10 10

In [204]:
import pandas as pd
df=pd.DataFrame({'Job title':job_title,'Location':location,'Company Namee':company,'Experience':experience})
df

,Job title,Location,Company Namee,Experience
0,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro,6-11 Yrs
1,Urgent Hiring For AI Data Scientist,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Ashkom Media India Private Limited,1-4 Yrs
2,Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL,2-7 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jacobs,3-5 Yrs
4,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro,2-7 Yrs
5,Data Science Expert - Quality & Test Engineering,Bangalore/Bengaluru,SAP,12-16 Yrs
6,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,SAP,5-10 Yrs
7,Team Lead/Consultant-Data Science,Bangalore/Bengaluru,Accenture,7-11 Yrs
8,Data Science Associate Manager,Bangalore/Bengaluru,Accenture,5-10 Yrs
9,Research Scientist,Bangalore/Bengaluru,IBM,3-7 Yrs

In [166]:
driver.close

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [180]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [181]:

driver.get("https://www.naukri.com/")

In [182]:
search_field_destination=driver.find_element_by_class_name('suggestor-input')#Job search bar
search_field_destination.send_keys('Data Scientist')

In [183]:
search_field_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')# Absolute path
#purpose of using abosulte path is it has 2 column field so we choose absolute path to find the location
search_field_loc.send_keys('Bangalore')

In [184]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')# Absolute path
search_button.click()

In [186]:
job_title_list=[]
company_name_list=[]
location_list=[]
experience_list=[]

In [187]:
#To extract the all the job titles having
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]') #Relaticve path
title_tag[0:10]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="544aa77d-1f74-4e27-8636-9024a1fe3bd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="8e57f97c-9670-49b4-a11d-1b9f2345a960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="5ea5883e-71d6-4351-a055-791a76cc6e57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="30eac9c5-f138-4d8f-b0b3-603c7888a328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="027e7da7-6add-4557-ba80-544183342e69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="10c88bcc-dd42-4bc3-9d6e-a8cc77df3aab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="f0936bd2-c8c9-4b9b-baf0-0f42cca70831")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="b3c9c6d8-8723-4e83-b40f-2c434443594b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="7de77aa7-72b7-4b59-b1d8-2e318e30a52d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="c2341b3f-97cd-4333-b849-3fa833c12be1")>]

In [188]:
#Loop to iterate the tag extract from the abovr code
for i in title_tag:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    job_title_list.append(title) #appending to the extracted test list to job title list
job_title=job_title_list[0:10]   #print the top 10 data
job_title

['AI Technologist Vacancy',
 'Urgent Hiring For AI Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Job Opening with Wipro For Data Scientist position',
 'Data Science Expert - Quality & Test Engineering',
 'Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Team Lead/Consultant-Data Science',
 'Data Science Associate Manager',
 'Research Scientist']

In [189]:
#To extract the location
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]') #Relaticve path
loc[0:9]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="850718c9-d666-44e3-b219-dbcfd71850bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="98266a7a-9963-4bf6-8e87-07f3379091c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="94f94c46-1cdc-4bd4-91c7-2bf69dab7f92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="fb2a61b0-1ac9-40ad-93c2-747604dc886f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="1542c5e1-b5d6-4214-a7c2-6cd3a069b9c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="2219e25d-f8a1-4aec-9f10-9b8f67b4cc10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="d2ab8550-3df3-47ba-8cc9-6bc19c71ed22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="089d5d7e-5897-41be-ae1f-9f403453d681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0fe4dd5c98e7a02992449a6f21cd2323", element="8b7da070-3955-4ef8-8e4d-dbe5b067c273")>]

In [190]:
for i in loc:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    location_list.append(title) #appending to the extracted test list to job title list
location=location_list[0:10]   #print the top 10 data
location

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [191]:
#To extract the company name
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]') #Relaticve path
company_name[0:10]# To give the range to extract the 9 results
#Loop to iterate the tag extract from the abovr code
for i in company_name:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    company_name_list.append(title.replace("Reviews",'')) #appending to the extracted test list to job title list
company=company_name_list[0:10]   #print the top 10 data
company

['Wipro',
 'Ashkom Media India Private Limited',
 'UPL',
 'Jacobs',
 'Wipro',
 'SAP',
 'SAP',
 'Accenture',
 'Accenture',
 'IBM']

In [192]:
#To extract the experience
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]') #Relaticve path
exp[0:10]# To give the range to extract the 10 results
for i in exp:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    experience_list.append(title) #appending to the extracted test list to job title list
experience=experience_list[0:10]   #print the top 10 data

experience

['6-11 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '12-16 Yrs',
 '5-10 Yrs',
 '7-11 Yrs',
 '5-10 Yrs',
 '3-7 Yrs']

In [193]:
import pandas as pd
df=pd.DataFrame({'Job title':job_title,'Location':location,'Company Nmae':company,'Experience':experience})
df

,Job title,Location,Company Nmae,Experience
0,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro,6-11 Yrs
1,Urgent Hiring For AI Data Scientist,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Ashkom Media India Private Limited,1-4 Yrs
2,Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL,2-7 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jacobs,3-5 Yrs
4,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro,2-7 Yrs
5,Data Science Expert - Quality & Test Engineering,Bangalore/Bengaluru,SAP,12-16 Yrs
6,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,SAP,5-10 Yrs
7,Team Lead/Consultant-Data Science,Bangalore/Bengaluru,Accenture,7-11 Yrs
8,Data Science Associate Manager,Bangalore/Bengaluru,Accenture,5-10 Yrs
9,Research Scientist,Bangalore/Bengaluru,IBM,3-7 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)
driver.get("https://www.naukri.com/")

In [25]:
search_field_destination=driver.find_element_by_class_name('suggestor-input')#Job search bar
search_field_destination.send_keys('Data Scientist')

In [26]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')# Absolute path
search_button.click()

In [28]:
tick_checkbox=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')# Absolute path
tick_checkbox.click()/ To select the location filter

In [29]:
tick_checkbox1=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')# Absolute path
tick_checkbox1.click()/ To select the salary filter

In [30]:
# Creating the emty list initially
job_title_list=[]
company_name_list=[]
location_list=[]
experience_list=[]

In [31]:
#To extract the all the job titles having
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]') #Relaticve path
title_tag[0:10]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="f802db73-83e8-4502-835f-77bc58198925")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="3f919f4f-78a8-44d3-9fac-af9f05d30df0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="8eb68f2f-68df-4dcf-9193-ae11a4adf4b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="a8e6601e-88a0-4ee6-9cc3-037cec6fb495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="3a48e186-7a6a-4f3a-9c07-af8f9a596d7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="368dff8c-4038-4795-a362-448fd237d9c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="6b5da661-079a-44e2-b1c4-7ad0040fe5d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="88be28cf-dda6-49a2-b736-cdea580bc83c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="195a94be-6a81-4f15-a143-140f977eeaf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="85599490-07ac-4389-bf27-d025e4a6285e")>]

In [32]:
#Loop to iterate the tag extract from the abovr code
for i in title_tag:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    job_title_list.append(title) #appending to the extracted test list to job title list
job_title=job_title_list[0:10]   #print the top 10 data
job_title

['Job Opening with Wipro For Data Scientist position',
 'Data Scientist -Machine Learning with Python',
 'Data Scientist',
 'Data Scientist - Predictive Analytics',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Internet Jobs - II',
 'Machine Learning Engineer | Data Engineer | Data Scientist',
 'Data Scientists']

In [34]:
#To extract the location
loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]') #Relaticve path
loc[0:10]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="478ebdbd-149e-4e20-8222-8063f3510662")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="d3c095a2-a9c2-499f-861c-296df061cb7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="6ef2710b-234e-48b9-aa47-88418fb26eb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="3f0906de-c462-40c1-876b-d76be9387f62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="4e9cc808-3fe4-44a3-8e17-93ca85bf9eff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="6409b7e7-b908-43e3-b413-8310cc5b2a5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="9b3c1e84-1915-470c-a11d-5fdbefb9e1bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="a4b96b5e-a495-4b29-9ddf-dee36f49f325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="7b38b90a-25e6-46e0-b19b-06e9db8a7f94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="041b457f736d910eb37a854b01db81d7", element="ccc85485-2f01-4c39-be09-2b3295e7cc30")>]

In [35]:
for i in loc:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    location_list.append(title) #appending to the extracted test list to job title list
location=location_list[0:10]   #print the top 10 data
location

['Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR\n(WFH during Covid)',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Noida',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR(Sector-8 Noida)\n(WFH during Covid)',
 'Gurgaon/Gurugram']

In [36]:
#To extract the company name
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]') #Relaticve path
company_name[0:10]# To give the range to extract the 9 results
#Loop to iterate the tag extract from the abovr code
for i in company_name:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    company_name_list.append(title.replace("Reviews",'')) #appending to the extracted test list to job title list
company=company_name_list[0:10]   #print the top 10 data
company

['Wipro',
 'Genpact',
 'SS Supply Chain Solutions Pvt. Ltd. (3SC)',
 'Confidential',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Jobs Territory',
 'Tidyquant (OPC) Private Limited',
 'Nibha Infotech Private Limited']

In [37]:
#To extract the experience
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]') #Relaticve path
exp[0:10]# To give the range to extract the 10 results
for i in exp:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    experience_list.append(title) #appending to the extracted test list to job title list
experience=experience_list[0:10]   #print the top 10 data

experience

['2-7 Yrs',
 '1-4 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '5-8 Yrs']

In [38]:
import pandas as pd
df=pd.DataFrame({'Job title':job_title,'Location':location,'Company Nmae':company,'Experience':experience})
df

,Job title,Location,Company Nmae,Experience
0,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro,2-7 Yrs
1,Data Scientist -Machine Learning with Python,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC...",Genpact,1-4 Yrs
2,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",SS Supply Chain Solutions Pvt. Ltd. (3SC),2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist - Machine learning AI,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Teq Analytics,3-8 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Internet Jobs - II,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jobs Territory,3-6 Yrs
8,Machine Learning Engineer | Data Engineer | Da...,"Chennai, Bangalore/Bengaluru, Delhi / NCR(Sect...",Tidyquant (OPC) Private Limited,1-3 Yrs
9,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,5-8 Yrs

In [39]:
driver.close

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [40]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [42]:
#To access the website by by code
driver.get("https://www.flipkart.com/")

In [50]:
search_field_destination=driver.find_element_by_class_name('_3704LK')#Job search bar
search_field_destination.send_keys('sunglasses')

In [51]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')# Absolute path
search_button.click()

In [85]:

#To extract the brand
brand=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand_value:
        add_brand=i.text
        brand.append(add_brand)
    next_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(5)

brand=brand[0:100]

In [86]:
#To extract the Product Description
description=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in brand_value:
        add_desc=i.text
        description.append(add_desc)
    next_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(5)
   
description=description[0:100]

In [93]:
#To extract the Price
price=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in brand_value:
        add_desc=i.text
        price.append(add_desc)
    next_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(5)
price=price[0:100]

In [94]:
df=pd.DataFrame({"Brand":brand,"Product Description":description,"Price":price})
df

,Brand,Product Description,Price
0,ROYAL SON,Gradient Aviator Sunglasses (58),₹199
1,AISLIN,"Night Vision, Polarized, UV Protection Aviator...",₹111
2,HAMIW COLLECTION,by Lenskart UV Protection Clubmaster Sunglasse...,₹217
3,agera,"UV Protection Oval, Aviator Sunglasses (64)",₹129
4,VINCENT CHASE,Polarized Clubmaster Sunglasses (51),₹279
...,...,...,...
95,NuVew,UV Protection Aviator Sunglasses (57),₹185
96,I Flash,Wayfarer Sunglasses (Free Size),"₹10,769"
97,Rich Club,UV Protection Wayfarer Sunglasses (50),₹284
98,AISLIN,UV Protection Rectangular Sunglasses (Free Size),"₹2,359"
99,AISLIN,"UV Protection, Night Vision, Riding Glasses, P...",₹501

In [96]:
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [22]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [24]:
#To access the website by by code
driver.get("https://www.flipkart.com/")

In [25]:
#To enter the item name in the search bar
search_field_destination=driver.find_element_by_class_name('_3704LK')#Job search bar
search_field_destination.send_keys('iphone 11')

In [26]:
#Click on search option
search_button=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')# Absolute path
search_button.click()

In [27]:
#Click on the model
search_button1=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[1]/div[1]/div/div/img')# Absolute path
search_button1.click()

In [29]:
#Click on all reviews
search_button2=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')# Absolute path
search_button2.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span"}
  (Session info: chrome=102.0.5005.63)
Stacktrace:
Backtrace:
	Ordinal0 [0x00C1B8F3+2406643]
	Ordinal0 [0x00BAAF31+1945393]
	Ordinal0 [0x00A9C748+837448]
	Ordinal0 [0x00AC92E0+1020640]
	Ordinal0 [0x00AC957B+1021307]
	Ordinal0 [0x00AF6372+1205106]
	Ordinal0 [0x00AE42C4+1131204]
	Ordinal0 [0x00AF4682+1197698]
	Ordinal0 [0x00AE4096+1130646]
	Ordinal0 [0x00ABE636+976438]
	Ordinal0 [0x00ABF546+980294]
	GetHandleVerifier [0x00E89612+2498066]
	GetHandleVerifier [0x00E7C920+2445600]
	GetHandleVerifier [0x00CB4F2A+579370]
	GetHandleVerifier [0x00CB3D36+574774]
	Ordinal0 [0x00BB1C0B+1973259]
	Ordinal0 [0x00BB6688+1992328]
	Ordinal0 [0x00BB6775+1992565]
	Ordinal0 [0x00BBF8D1+2029777]
	BaseThreadInitThunk [0x766F6739+25]
	RtlGetFullPathName_UEx [0x77268FEF+1215]
	RtlGetFullPathName_UEx [0x77268FBD+1165]

In [13]:
driver.close()

In [582]:
driver.close()

In [32]:
#To extract the all the job titles having
title_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]') #Relaticve path
title_tag[0:10]# To give the range to extract the 10 results

[]

In [564]:
#Loop to iterate the tag extract from the abovr code
for i in rating:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    rating_list.append(title.replace("Reviews",'')) #appending to the extracted test list to job title list
rate=rating_list[0:10]   #print the top 10 data
rate

['1', '110', '160', '13', '7', '11', '5', '136', '44', '17']

In [568]:
#To extract the brand
rating=[]
for i in range(0,10):
    rate_value=driver.find_elements_by_xpath('class="_2-N8zT"')
    for i in rate_value:
        add_brand=i.text
        rating.append(add_brand)
  """ next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')
    next_button.click()
    time.sleep(5)
"""
rating=brand[0:100] 
rating

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [520]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [521]:
#To access the website by by code
driver.get("https://www.flipkart.com/")

In [522]:
search_field_destination=driver.find_element_by_class_name('_3704LK')#Job search bar
search_field_destination.send_keys('sneakers')

search_button=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')# Absolute path
search_button.click()

In [540]:
#To extract the brand
brand=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand_value:
        add_brand=i.text
        brand.append(add_brand)
    next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

brand=brand[0:100]

In [539]:
#To extract the Product Description
description=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in brand_value:
        add_desc=i.text
        description.append(add_desc)
    next_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(5)
   
description=description[0:100]

In [538]:
#To extract the Price
price=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in brand_value:
        add_desc=i.text
        price.append(add_desc)
    next_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(5)
price=price[0:100]

In [541]:
#To extract the offer
off=[]
for i in range(0,3):
    offer=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in offer:
        add_desc=i.text
        off.append(add_desc)
    next_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(5)
off=off[0:100]

In [542]:
print(len(brand),len(description),len(price),len(off))
df=pd.DataFrame({"Brand":brand,"Description":description,"Price":price,"Offer":off})
df

100 100 100 100

,Brand,Description,Price,Offer
0,RED TAPE,RTE0148 Sneakers For Men,₹658,80% off
1,Dizzler,Ralph Sampson Vulc Sneakers For Men,₹465,35% off
2,PUMA,RS-Z Sneakers For Men,"₹2,749",50% off
3,PUMA,Reebok Royal Complete Cln BSc Sneakers For Men,"₹5,179",48% off
4,REEBOK CLASSICS,Sneakers For Men,"₹1,538",59% off
...,...,...,...,...
95,ADIDAS ORIGINALS,Sneakers For Men,"₹3,255",53% off
96,LastStep,Sneakers For Men,₹499,66% off
97,MOHLIYE,Future Rider Vintage Sneakers For Men,₹295,57% off
98,BRUTON,Sneakers For Men,₹239,81% off
99,ADIDAS,Sneakers For Men,"₹3,579",40% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [ ]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [240]:
#To access the website by by code
driver.get("https://www.myntra.com/shoes")

In [241]:
tick_checkbox=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')# Absolute path
tick_checkbox.click() # To select the price and click as per the question  2nd one to select

In [242]:
tick_checkbox1=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')# Absolute path
tick_checkbox1.click() # To select the black color

In [243]:
#To extract the price
price=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in brand_value:
        add_desc=i.text
        price.append(add_desc)
    next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button.click()
    time.sleep(5)
price=price[0:100]
price

['Rs. 8999',
 'Rs. 7999',
 'Rs. 8895',
 'Rs. 10495',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 7999',
 'Rs. 10995',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 11495',
 'Rs. 10495',
 'Rs. 8499',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 7499',
 'Rs. 11041Rs. 12990(15% OFF)',
 'Rs. 8249Rs. 14999(45% OFF)',
 'Rs. 12990',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 10999',
 'Rs. 8991Rs. 9990(10% OFF)',
 'Rs. 9441Rs. 10490(10% OFF)',
 'Rs. 7499Rs. 14999(50% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 9999',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 11999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8999',
 'Rs. 8999Rs. 17999(50% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 8491Rs. 9990(15% OFF)',
 'Rs. 9999',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 9341Rs. 10990(15% OFF)',
 'Rs. 8055Rs. 8950(10% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 11699Rs. 12999(10% OFF)',
 'Rs. 13990',
 'Rs. 10990',
 'Rs. 12990',
 'Rs. 13990',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 7372Rs. 10099(27% OFF)',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 7699Rs. 13999(45% OFF)',
 'Rs. 8490',
 'Rs. 7599Rs. 7999(5% OFF)',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 7492Rs. 9990(25% OFF)',
 'Rs. 13999',
 'Rs. 11875Rs. 12500(5% OFF)',
 'Rs. 11999',
 'Rs. 13999',
 'Rs. 8075Rs. 8500(5% OFF)',
 'Rs. 8992Rs. 11990(25% OFF)',
 'Rs. 9999',
 'Rs. 8455Rs. 8900(5% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 10791Rs. 11990(10% OFF)',
 'Rs. 10791Rs. 11990(10% OFF)',
 'Rs. 8075Rs. 8500(5% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 8490',
 'Rs. 11990',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 8455Rs. 8900(5% OFF)',
 'Rs. 7450',
 'Rs. 10990',
 'Rs. 8091Rs. 8990(10% OFF)',
 'Rs. 9099Rs. 13999(35% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 9341Rs. 10990(15% OFF)',
 'Rs. 13990',
 'Rs. 7990',
 'Rs. 8991Rs. 9990(10% OFF)',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8099Rs. 8999(10% OFF)']

In [244]:
len(price)

100

In [246]:
tick_checkbox=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')# Absolute path
tick_checkbox.click() # To select the price and click as per the question  2nd one to select

In [248]:
tick_checkbox1=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')# Absolute path
tick_checkbox1.click() # To select the black color

In [249]:
#To extract the brand
brand=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in brand_value:
        add_brand=i.text
        brand.append(add_brand)
    next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button.click()
    time.sleep(5)

brand=brand[0:100] 
brand

['UNDER ARMOUR',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'Puma',
 'Reebok',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Skechers',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Skechers',
 'Geox',
 'Puma',
 'Geox',
 'Geox',
 'Reebok',
 'Geox',
 'Geox',
 'Puma',
 'Puma',
 'ADIDAS',
 'ADIDAS',
 'UNDER ARMOUR',
 'Hush Puppies',
 'UNDER ARMOUR',
 'ADIDAS',
 'Hush Puppies',
 'Skechers',
 'Geox',
 'Geox',
 'Puma',
 'Hush Puppies',
 'Geox',
 'Geox',
 'Hush Puppies',
 'Vans',
 'Columbia',
 'Geox',
 'Geox',
 'Geox',
 'Geox',
 'Clarks',
 'TOMS',
 'TOMS',
 'J.FONTINI',
 'KIPRUN By Decathlon',
 'UNDER ARMOUR',
 'TOMS',
 'ASICS',
 'Saint G',
 'Bugatti',
 'ADIDAS',
 'J.FONTINI',
 'ASICS',
 'Puma',
 'ADIDAS Originals',
 'Geox',
 'ADIDAS',
 'Saint G',
 'Cole Haan',
 'Bugatti',
 'Saint G',
 'Geox',
 'Louis Philippe',
 'Saint G',
 'DAVINCHI',
 'J.FONTINI',
 'DAVINCHI',
 'Geox',
 'Geox',
 'Saint G',
 'Geox',
 'DAVINCHI',
 'Geox',
 'Saint G',
 'Clarks',
 'Bugatti',
 'Geox',
 'Saint G',
 'GABICCI',
 'Geox',
 'Geox',
 'ECCO',
 'Columbia',
 'Columbia',
 'Columbia',
 'Geox',
 'Geox',
 'J.FONTINI',
 'Geox',
 'Heel & Buckle London',
 'J.FONTINI',
 'Geox']

In [250]:
print(len(brand))

100

In [251]:
tick_checkbox=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')# Absolute path
tick_checkbox.click() # To select the price and click as per the question  2nd one to select

In [253]:
tick_checkbox1=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')# Absolute path
tick_checkbox1.click() # To select the black color

In [254]:
#To extract the Product Description
description=[]
for i in range(0,3):
    brand_value=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in brand_value:
        add_desc=i.text
        description.append(add_desc)
    next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button.click()
    time.sleep(5)
   
description=description[0:100]
description

['Men UA Charged Breeze Training',
 'Men Charged Rouge 3 Run Shoes',
 'Men Zoom C Pro HC Tennis Shoes',
 'Women Pegasus 39 Running Shoes',
 'Men Voyage Nitro Running Shoes',
 'Men Nanoflex TR Training Shoes',
 'Women Free Metcon 4 Training',
 'Men Velocity Nitro 2 Running',
 'Women React Escape Running',
 'Women React MR 3 Running Shoes',
 'Men ARCH FIT ROAD WALKER',
 'Men Running Shoes',
 'Electrify Nitro Running Shoes',
 'Men UA Charged Vantage 2 Run',
 'Men M Nitro Running Shoess',
 'Men UA TriBase Reign4 Training',
 'Men Charged Breeze Running',
 'Men Woven Design Sneakers',
 'Men Leather Loafers',
 'Men Deviate Nitro Shoes',
 'Men Leather Sneakers',
 'Men Textured Leather Driving Shoes',
 'Unisex Zig Kinetica 2.5 Shoes',
 'Men Textured Leather Slip-On Sneakers',
 'Men Textured Leather Driving Shoes',
 'Women Running Sports Shoes',
 'Men Velocity Nitro Running',
 'Women Supernova Running Shoes',
 'Men Solar Glide 4 ST Running',
 'W omen TriBase Reign 4 Running',
 'Men Formal Derbys',
 'Women Charged Breeze Running',
 'Women Sports Shoes',
 'Men Solid Formal Slip-Ons',
 'Men Textured Sneakers',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Driving Shoes',
 'Women Liberate NITRO Running',
 'Men Textured Leather Sneakers',
 'Men Textured Leather Driving Shoes',
 'Women Ballerinas Flats',
 'Men Solid Leather Formal Slip-Ons',
 'Men Colourblocked Sneakers',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Perforations Sneakers',
 'Men Leather Sneakers',
 'Men Leather Sneakers',
 'Men Leather Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men Alpargata Slip-On Sneakers',
 'Men Alpargata Slip-On Sneakers',
 'Men Textured Leather Loafers',
 'Men Running Shoes',
 'Women Hovr Sonic SE Run Shoes',
 'Men Sneakers',
 'Women Running Shoes',
 'Men Leather Chelsea Boots',
 'Men Textured Leather High-Top Flat Boots',
 'Women Solar Glide 5 Running',
 'Men Leather Fashion',
 'Women Running Shoes',
 'Women Magnify Nitro Running',
 'Women Ozelia Sneakers',
 'Women Textured Leather Loafers',
 'Women KarlieKlossX9000 Running',
 'Leather High-Top Heeled Boots',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Formal Derbys',
 'Stiletto Heel Mules',
 'Men Leather Driving Shoes',
 'Men Solid Leather Formal Loafers',
 'Suede Embellished Ankle Boots',
 'Men Formal Leather Slip-Ons',
 'Men Textured Leather Formal Loafers',
 'Men Textured Formal Leather Loafers',
 'Textured Leather Block Pumps',
 'Leather Block Pumps',
 'Women Open Toe Flats',
 'Leather Block Sandals',
 'Men Solid Leather Formal Loafers',
 'Flatform Heels',
 'Leather Block Sandals',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Women Leather Heeled Mules',
 'Men Formal Slip-on Shoes',
 'Women Ballerinas Flats',
 'Women Open Toe Flats',
 'Women Textured Leather Sneakers',
 'Women REDMOND V2 TrekkingShoe',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Women Trekking Shoes',
 'Men Leather Loafers',
 'Men Solid Slip-On Sneakers',
 'Men Textured Leather Loafers',
 'Men Leather Formal Slip-Ons',
 'Men Formal Leather Derby',
 'Men Solid Loafers',
 'Women Leather Pumps']

In [255]:
print(len(description))

100

In [256]:
df=pd.DataFrame({"Brand":brand,"Product Description":description,"Price":price})
df

,Brand,Product Description,Price
0,UNDER ARMOUR,Men UA Charged Breeze Training,Rs. 8999
1,UNDER ARMOUR,Men Charged Rouge 3 Run Shoes,Rs. 7999
2,Nike,Men Zoom C Pro HC Tennis Shoes,Rs. 8895
3,Nike,Women Pegasus 39 Running Shoes,Rs. 10495
4,Puma,Men Voyage Nitro Running Shoes,Rs. 7149Rs. 10999(35% OFF)
...,...,...,...
95,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
96,Geox,Men Leather Formal Slip-Ons,Rs. 8991Rs. 9990(10% OFF)
97,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
98,J.FONTINI,Men Solid Loafers,Rs. 8990
99,Geox,Women Leather Pumps,Rs. 8099Rs. 8999(10% OFF)

In [257]:
driver.close()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
Note: All the steps required during scraping should be done through code only and not manually.

In [490]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [491]:
#To access the website by by code
driver.get("https://www.amazon.in/")

In [492]:
search_field_loc=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')# Absolute path
#purpose of using abosulte path is it has 2 column field so we choose absolute path to find the location
search_field_loc.send_keys('Laptop')

In [493]:
#To click on the the search option
search_button6=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span')# Absolute path
search_button6.click()

In [494]:
#To tick on the the search option "“Intel Core i7”"
search_button7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')# Absolute path
search_button7.click()

In [495]:
#To extract title
title1=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]') #Relaticve path
title1[0:4]# To give the range to extract the 4 results

[<selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="694f5557-c19d-4d9c-b12e-36f9a0640e50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="98087fb2-5cf4-45df-9906-010d626bb27a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="18f81169-a10e-4ade-aad3-64d8e2e19c08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="28817499-a37d-4f82-b2ca-4b3075c67e90")>]

In [510]:
title1_list=[]
for i in title1:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    title1_list.append(title) #appending to the extracted test list to job title list
t=title1_list[0:10]   #print the top 10 data

In [504]:
#To extract the rating
rating1=driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]') #Relaticve path
rating1[0:4]# To give the range to extract the 4 results

[<selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="b953f89d-4660-4798-9506-9ce046bd754c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="dd83bea9-d84c-4cd3-ba43-7d2743adc831")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="4c24ce31-1228-4e67-9816-1dc56cd2f9ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="3ea8a0a0-4bd3-4717-b4f6-ca18906c87de")>]

In [509]:
rating_list=[]
for i in rating1:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    rating_list.append(title) #appending to the extracted test list to job title list
r=rating_list[0:10]   #print the top 10 data
r

['1', '110', '160', '13', '7', '11', '5', '136', '44', '17']

In [508]:
len(r)

10

In [499]:
#To extract title
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]') #Relaticve path
price[0:4]# To give the range to extract the 4 results

[<selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="2d0d08fc-1a4a-4d12-a1cd-8d892694f3dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="e30e497d-66db-458e-ad56-7af26cdee1ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="f9b11fc4-b4bb-48d3-82f2-06dbb32a2ac6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1a19c0a573f2ce288766cb557b398ab", element="cf51b225-7a70-47e1-bf04-a89ae27022b3")>]

In [511]:
price_list=[]
for i in price:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    price_list.append(title) #appending to the extracted test list to job title list
p=price_list[0:10]   #print the top 10 data

In [514]:
df=pd.DataFrame({"Title":t,"Rating":r,"Price":p})
df

                                               Title Rating     Price
0  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...      1    87,490
1  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    110    57,490
2  LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...    160    88,490
3  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...     13    85,990
4  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...      7  1,05,990
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...     11    79,990
6  HP Pavilion x360 11th Gen Intel Core i7 14 inc...      5    85,490
7  LG Gram 14 Intel Evo 11th Gen  i7 Thin & Light...    136    87,990
8  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     44    86,990
9  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...     17    86,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [449]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [450]:
#To access the website by by code
driver.get(" https://www.ambitionbox.com/")

In [452]:
#To click on the job option
search_button2=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')# Absolute path
search_button2.click()

In [462]:
#To search the data scintist sending as key
search_field_loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')# Absolute path
search_field_loc.send_keys('Data Scientist')

In [463]:
#To click on search button
search_button3=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')# Absolute path
search_button3.click()

In [464]:
#To click on the location
search_button4=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')# Absolute path
search_button4.click()

In [465]:
#To search to enter noida
search_field_loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')# Absolute path
search_field_loc.send_keys('Noida')

In [466]:
#To click on the "Noida"
search_button5=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')# Absolute path
search_button5.click()

In [472]:
#To extract the job details
job_list=[]
job=driver.find_elements_by_xpath('//div[@class="info"]') #Relaticve path
job[0:10]# To give the range to extract the 10 results
for i in job:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    job_list.append(title) #appending to the extracted test list to job title list
job=job_list[0:10]   #print the top 10 data

df=pd.DataFrame({"First 10 jobs==================>":job})
df

                    First 10 jobs==================>
0  Data Scientist\nGENPACT India Private Limited\...
1  Senior Data Scientist\nOptum Global Solutions ...
2  Data Scientist -Machine Learning with Python\n...
3  Data Scientist - OIP\nHcl Technologies Limited...
4  Data Scientist- AI/ML- R&D\nEXL Services.com (...
5  Data Science - Lead Data Scientist\nPaytm\n3.7...
6  Data Scientist (Python) Immediate Joiners\nOm ...
7  Data Scientist - Associate Vice President\nPay...
8  Data Scientist - MIND Infotech\nMOTHERSONSUMI ...
9  Data Scientist\nAshkom Media India Private Lim...

In [473]:
driver.close()

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually

In [357]:
driver=webdriver.Chrome("chromedriver.exe") #Run from the current directory
time.sleep(2)

In [358]:
#To access the website by by code
driver.get(" https://www.ambitionbox.com/")

In [360]:
#To click on the salary
search_button1=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')# Absolute path
search_button1.click()

In [363]:
#To search the data scintist sending as key
search_field_loc=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')# Absolute path
search_field_loc.send_keys('Data Scientist')

In [364]:
#To click on search button
search_button=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')# Absolute path
search_button.click()

In [434]:
#To extract the company name
company_name=driver.find_elements_by_xpath('//div[@class="name"]') #Relaticve path
company_name[0:4]# To give the range to extract the 4 results

[<selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="f825fe4a-0217-4a37-ae3d-642f2bc57927")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="2fd94c5a-dd55-47f5-b9d9-62d97c6c04b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="81e69b6e-837b-4340-87cd-2785b003cebb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="708a45ae-798b-41ae-a2a8-7f09238f8647")>]

In [430]:
list=[]
#Loop to iterate the tag extract from the abovr code
for i in company_name:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    list.append(title) #appending to the extracted test list to job title list
company=list[0:10]   #print the top 10 data
company

len(company)

10

In [435]:
#To extract the experience
exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]') #Relaticve path
exp[0:4]# To give the range to extract the 4 results

[<selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="44a1fe47-79df-4c84-8e5f-63affd2dfb7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="c35ae6ad-e3bc-4539-898e-f97ccf87d918")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="fe86364b-1f59-465d-b3e0-621a7d12fcee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="fa522d1f-215e-45e7-91bf-c87982a9e78f")>]

In [436]:
list1=[]
#Loop to iterate the tag extract from the abovr code
for i in exp:#iterating the web element over the title tag
    #title=i.text # Extracting text from web element
    list1.append(i.text.replace('Data Scientist\n . \n','')) #appending to the extracted test list to job title list
exp=list1[0:10]   #print the top 10 data

In [437]:
#To extract the min and max salary

minmax=driver.find_elements_by_xpath('//div[@class="value body-medium"]') #Relaticve path
minmax[0:4]# To give the range to extract the 4 results

[<selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="6c3d0b48-dcd3-45c9-9742-0e89d8695a05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="e93a2f83-15d4-462c-99cf-739b50be3e6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="ea844bc7-794a-4529-8e70-0dd03aec5112")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="0f668bc9-155f-402e-9936-3c94c06d9418")>]

In [438]:
list2=[]
#Loop to iterate the tag extract from the abovr code
for i in minmax:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    list2.append(title) #appending to the extracted test list to job title list
maxmin=list2   #print the top 10 data

In [439]:
minimum=maxmin[::2] # Separated minimum salary list

In [440]:
maximum=maxmin[::-2]
maximum.reverse() # Seperated maximum salary output

In [447]:
#To extract the min and average salary
#To extract the experience
avg=driver.find_elements_by_xpath('//p[@class="averageCtc"]') #Relaticve path
avg[0:4]# To give the range to extract the 10 results

[<selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="b8149b8d-66b6-4017-b6f0-8086c38affa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="bac388e2-5989-427d-81d5-8138ef68402b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="8b3d4fb5-d090-40e3-87ed-8f3a56ff2318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fc4c0e5dd32f321787e5129a648cdd43", element="5e3e5a94-38fe-478e-87dc-56ac2c51ca78")>]

In [448]:
#To obtain the average salary
list3=[]
#Loop to iterate the tag extract from the abovr code
for i in avg:#iterating the web element over the title tag
    title=i.text # Extracting text from web element
    list3.append(title) #appending to the extracted test list to job title list
avg=list3

In [446]:
df=pd.DataFrame({'Company_name': company,'Experience':exp,'Minimum':minimum,'Maximum':maximum,'Average':avg})
df

,Company_name,Experience,Minimum,Maximum,Average
0,Walmart\nbased on 12 salaries,3 yrs exp,₹ 25.0L,₹ 36.0L,₹ 30.2L
1,Ab Inbev\nbased on 33 salaries,3-4 yrs exp,₹ 15.0L,₹ 25.5L,₹ 20.6L
2,American Express\nbased on 10 salaries,4 yrs exp,₹ 14.1L,₹ 25.0L,₹ 19.9L
3,ZS\nbased on 15 salaries,2 yrs exp,₹ 11.0L,₹ 22.0L,₹ 16.7L
4,Optum\nbased on 33 salaries,3-4 yrs exp,₹ 11.0L,₹ 22.6L,₹ 16.1L
5,Reliance Jio\nbased on 21 salaries,3-4 yrs exp,₹ 5.6L,₹ 26.2L,₹ 15.7L
6,Fractal Analytics\nbased on 83 salaries,2-4 yrs exp,₹ 10.0L,₹ 22.0L,₹ 15.4L
7,Tiger Analytics\nbased on 50 salaries,2-4 yrs exp,₹ 9.0L,₹ 20.0L,₹ 14.8L
8,UnitedHealth\nbased on 57 salaries,2-4 yrs exp,₹ 8.3L,₹ 21.1L,₹ 14.0L
9,EXL Service\nbased on 10 salaries,4 yrs exp,₹ 8.9L,₹ 21.0L,₹ 13.3L